/* Estilo global para todos los botones del menú lateral */
ion-menu ion-list ion-item {
    transition: all 0.3s ease-in-out;
    --padding: 15px;
    --background: #f9f9f9;
    --color: #333;

    &:active {
        --background: #ddd;
        transform: scale(0.97);
    }
}
